<%= content_tag_for(:tr, list) do %>
  <td><%= link_to list.name, list %></td>
  <td>This list is&nbsp;<%= List.finished(list) %></td>
  <td><%= link_to "Delete List", list, confirm: 'Are you sure?', method: :delete, remote: true, class: 'remove_link'%></td>
<% end %>